%h1.page-title Профиль
.profile--cover
  .profile--info-box.profile--info-box-00
    .profile--box.profile--box-00
      %img.profile--avatar{:alt => "/", :src => "#{root_url}/image/example/avatar-profile.svg"}/
      .profile--state
        %span.profile--state-color>
        Сейчас на сайте
    .profile--box.profile--box-01
      %p.profile--text
        %strong Ник:
        = @profile.nickname
      %p.profile--text
        %strong E-mail:
        = @profile.email
      %p.profile--text
        %strong Twitch:
        - if @profile.stream
          = link_to @profile.stream&.link, @profile.stream&.link, target: '_blank'
  -# .profile--info-box.profile--info-box-01
  -#   .profile--box.profile--box-02
  -#     %button.profile--edit
  -#       Редактировать профиль
  -#       %svg.profile--edit-icon
  -#         %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#edit"}