.user-path--cover
  %a.user-path--item{:href => profile_path(current_user.nickname)} Профиль
  %a.user-path--item{:href => ""} Редактировать профиль
%form.profile-edit--cover{:action => registration_path(resource_name), method: :post}
  %input{:name => "_method", :type => "hidden", :value => "put"}/
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %p.profile-edit--caption Редактировать профиль
  .profile-edit--parent
    .profile-edit--ava-box
      %img.profile-edit--ava-image{:alt => "/", :src => "#{root_url}/image/example/avatar-profile.svg"}/
      %label.profile-edit--ava-download
        %input.profile-edit--ava-file{:type => "file"}/
        %span.profile-edit--ava-text
          Загрузить изображение
          %svg.profile-edit--ava-icon
            %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#download"}
      %button.profile-edit--ava-remove{:type => "button"}
        %svg.profile-edit--ava-icon.profile-edit--ava-icon-remove>
          %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#messages-remove"}
        Удалить аватар
    .profile-edit--desc-box
      %p.profile-edit--desc-caption Основные данные
      %label.profile-edit--desc-label{:for => "profile-edit--desc-00"} Ник:
      %input#profile-edit--desc-00.profile-edit--desc-input{type: 'text', name: 'user[nickname]', value: current_user.nickname }/
      %label.profile-edit--desc-label{:for => "profile-edit--desc-01"} E-mail:
      %input#profile-edit--desc-01.profile-edit--desc-input{type: 'text', name: 'user[email]', value: current_user.email }/
      %label.profile-edit--desc-label{:for => "profile-edit--desc-02"} Twitch:
      %input#profile-edit--desc-02.profile-edit--desc-input{type: 'text', name: 'user[stream_attributes][link]', value: current_user.stream&.link}/
    .profile-edit--desc-box
      %p.profile-edit--desc-caption Смена пароля
      %label.profile-edit--desc-label{:for => "profile-edit--desc-03"} Введите новый пароль:
      %input#profile-edit--desc-03.profile-edit--desc-input{type: 'password', name: 'user[password]'}/
      %label.profile-edit--desc-label{:for => "profile-edit--desc-04"} Повторите новый пароль:
      %input#profile-edit--desc-04.profile-edit--desc-input{type: 'password', name: 'user[password_confirmation]'}/
      %label.profile-edit--desc-label{:for => "profile-edit--desc-05"} Введите текущий пароль
      %input#profile-edit--desc-05.profile-edit--desc-input{type: 'password', name: 'user[current_password]'}/
  %button.profile-edit--submit{"data-button" => "red", :type => "submit"} Обновить
  = link_to 'Отменить изменения', root_path, class: 'profile-edit--cancel', type: 'button'
