.comments-item--cover
  .comments-item--info-box
    %p.comments-item--info-box-name
      = comment.user.nickname
    %img.comments-item--info-box-icon{:alt => "/", :src => "#{root_url}/image/example/avatar.svg"}/
    %a.comments-item--info-box-more{:href => profile_path(comment.user.nickname), :target => '_blank'} Профиль
  .comments-item--text-box
    .comments-item--text-box-head
      %p.comments-item--text-box-head-date
        = I18n.l(comment.created_at.in_time_zone('Moscow'), format: :short)
    .comments-item--text-box-body
      %p
        = comment.body
    .comments-item--text-box-foot
      .comments-item--text-box-foot-box
        .comments-item--counter--cover
          = button_to '+', likes_path(likeable_id: comment.id, likeable_type: 'Comment'), method: :post, remote: true, class: 'comments-item--counter-action comments-item--counter-action-next', form: { id: 'comment_like' }
          %span.ml-5#comment_rating
            = comment.likes.count - comment.dislikes.count
          = button_to '-', dislikes_path(dislikeable_id: comment.id, dislikeable_type: 'Comment'), method: :post, remote: true, class: 'comments-item--counter-action comments-item--counter-action-prev ml-5 mb-1', form: { id: 'comment_dislike' }
