%h1.page-title Новости
.page--sort-box
  = link_to articles_path, class: 'page--sort-item' do
    По дате
    %svg.comments-sort--icon
      %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#descendant"}
  = link_to articles_path(sort_by: :likes), class: 'page--sort-item' do
    По популярности
    %svg.comments-sort--icon
      %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#descendant"}
.content--grid
  - @articles.each do |article|
    %a.grid--item.news-grid--item{:href => article_path(article)}
      %span.news-grid--label-box
        %span.news-grid--label{"data-palette" => "0"} WSOP
        %span.news-grid--date
          = I18n.l(article.created_at.in_time_zone('Moscow'), format: :short)
      %img.news-grid--image{:alt => "/", :src => article.card_image.url}/
      %span.news-grid--title
        = article.title.upcase
      %span.news-grid--subtitle
        = strip_tags(article.body).first(111) + '...'
      %span.news-grid--end-box
        %span.news-grid--end-button Читать
        %span.news-grid--end-data
          %span.news-grid--end-data-item
            %svg.news-grid--end-data-icon
              %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#comments"}
            %span.news-grid--end-data-text
              = article.comments.count
