%h1.page-title Игровой кабинет
%p.tourn--action Вы зарегистрированы в турнирах
.content--grid.tourn--grid
  - @tournaments.each do |tournament|
    .grid--item.tourn--item
      %img.tourn--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
      .tourn--desc-box
        .tourn--desc-row
          %p.tourn--desc-dir Poker
          %img.tourn--desc-live{:alt => "/", :src => "#{root_url}/image/icons/live.svg"}/
        .tourn--desc-row
          %p.tourn--desc-name
            = tournament.name
          %p.tourn--desc-total
            = tournament.prize_fund
            $
        %a.tourn--desc-button{"data-button" => "transparent", :href => dashboard_tournament_path(tournament)} Информация о турнире
-# %p.tourn--action прошедшие турниры
-# .content--grid.tourn--grid
-#   .grid--item.tourn--item
-#     %img.tourn--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
-#     .tourn--desc-box
-#       .tourn--desc-row
-#         %p.tourn--desc-dir Poker
-#       .tourn--desc-row
-#         %p.tourn--desc-name PokerOK Gashow Cup Satellite #1
-#         %p.tourn--desc-total 3000$
-#       %a.tourn--desc-button{"data-button" => "transparent", :href => ""} Информация о турнире
-#   .grid--item.tourn--item
-#     %img.tourn--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
-#     .tourn--desc-box
-#       .tourn--desc-row
-#         %p.tourn--desc-dir Poker
-#       .tourn--desc-row
-#         %p.tourn--desc-name PokerOK Gashow Cup Satellite #1
-#         %p.tourn--desc-total 3000$
-#       %a.tourn--desc-button{"data-button" => "transparent", :href => ""} Информация о турнире
