.user-path--cover
  %a.user-path--item{:href => dashboard_tournaments_path} Игровой кабинет
  %a.user-path--item{:href => ""}
    = @tournament.name
%h1
  = @tournament.name
%p.tourn--action.tourn--action-open идет регистрация
.tourn-inner--box
  %img.tourn-inner--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
  .tourn-inner--detail
    .tourn-inner--head
      %p.tourn-inner--head-text
        = @tournament.name
      %img.tourn-inner--head-icon{:alt => "/", :src => "#{root_url}/image/icons/live.svg"}/
    .tourn-inner--row
      %p.tourn-inner--col
        Призовой фонд:
        %br/
        %strong
          = @tournament.prize_fund
          $
    .tourn-inner--row
      %p.tourn-inner--col
        Начало турнира:
        %br/
        %strong
          = I18n.l(@tournament.end_registration_date.in_time_zone('Moscow'), format: :long)
      %p.tourn-inner--col
        Регистрация до:
        %br/
        %strong
          = I18n.l(@tournament.end_registration_date.in_time_zone('Moscow'), format: :long)
    .password-box--cover
      %img.password-box--icon{:alt => "/", :src => "#{root_url}/image/icons/logo/modal0.svg"}/
      .password-box--desc
        %span.password-box--item.password-box--item-login
          = @tournament.tournament_password
        %span.password-box--item.password-box--item-password Пароль турнира
    %button.tourn-inner--more{"data-scroll-to" => "tourn-desc"} Подробнее о турнире
#tourn-desc.tourn-inner--desc.game-cabinet--cover
  .game-cabinet--box.game-cabinet--box-00
    %p.game-cabinet--title Список участников
    .game-cabinet--scrolled
      - @tournament.players.each_with_index do |player, index|
        %p.game-cabinet--item
          %span.game-cabinet--pos #{index + 1}.
          = player.nickname
  .game-cabinet--box.game-cabinet--box-01
    %p.game-cabinet--title.game-cabinet--title-center Призовые места
    %p.game-cabinet--subtitle.game-cabinet--subtitle-center Здесь будут отображаться победители турнира
    .game-cabinet--scrolled
