%h1.page-title Турниры
%p.tourn--action.tourn--action-open открыта регистрация
.content--grid.tourn--grid
  - @tournaments.each do |tournament|
    .grid--item.tourn--item{href: tournament_path(tournament)}
      %a{href: tournament_path(tournament)}
        %img.tourn--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
      .tourn--desc-box
        %a.tourn--desc-row{href: tournament_path(tournament)}
          %p.tourn--desc-dir Poker
          %img.tourn--desc-live{:alt => "/", :src => "#{root_url}/image/icons/live.svg"}/
        %a.tourn--desc-row{href: tournament_path(tournament)}
          %p.tourn--desc-name
            = tournament.name
          %p.tourn--desc-total
            = tournament.prize_fund
            $
        %button.tourn--desc-button.modal-call--reg-tourn{"data-button" => "red"} Регистрация
-# %p.tourn--action.tourn--action-close прошедшие турниры
-# .content--grid.tourn--grid
-#   .grid--item.tourn--item
-#     %img.tourn--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
-#     .tourn--desc-box
-#       .tourn--desc-row
-#         %p.tourn--desc-dir Poker
-#       .tourn--desc-row
-#         %p.tourn--desc-name PokerOK Gashow Cup Satellite #1
-#         %p.tourn--desc-total 3000$
-#       %a.tourn--desc-button{"data-button" => "transparent", :href => ""} Информация о турнире
-#   .grid--item.tourn--item
-#     %img.tourn--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
-#     .tourn--desc-box
-#       .tourn--desc-row
-#         %p.tourn--desc-dir Poker
-#       .tourn--desc-row
-#         %p.tourn--desc-name PokerOK Gashow Cup Satellite #1
-#         %p.tourn--desc-total 3000$
-#       %a.tourn--desc-button{"data-button" => "transparent", :href => ""} Информация о турнире