.user-path--cover
  %a.user-path--item{:href => tournaments_path} Турниры
  %a.user-path--item{:href => ""}
    = @tournament.name
%h1
  = @tournament.name
%p.tourn--action.tourn--action-open идет регистрация
.tourn-inner--box
  %img.tourn-inner--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
  .tourn-inner--detail
    .tourn-inner--head
      %p.tourn-inner--head-text
        = @tournament.name
      %img.tourn-inner--head-icon{:alt => "/", :src => "#{root_url}/image/icons/live.svg"}/
    .tourn-inner--row
      %p.tourn-inner--col
        Призовой фонд:
        %br/
        %strong
          = "$#{@tournament.prize_fund}"
    .tourn-inner--row
      %p.tourn-inner--col
        Начало турнира:
        %br/
        %strong
          = I18n.l(@tournament.end_registration_date.in_time_zone('Moscow'), format: :long)
      %p.tourn-inner--col
        Регистрация до:
        %br/
        %strong
          = I18n.l(@tournament.end_registration_date.in_time_zone('Moscow'), format: :long)
    %button.tourn-inner--button.modal-call--reg-tourn{"data-button" => "red"} Участвовать
    %button.tourn-inner--more{"data-scroll-to" => "tourn-desc"} Подробнее о турнире
#tourn-desc.tourn-inner--desc
  %h2 Информация о турнире:
  %ul
    %li
      = "Максимальное количество участников: #{@tournament.max_players || 'неограниченно'}"
    %li
      = "Призовой фонд: $#{@tournament.prize_fund}"
    %li
      = "#{@tournament.final_stage_players_count} лучших игроков попадают в финальную стадию турнира"
  %h2 Правила:
  = @tournament.rules.html_safe
