%h1.page-title Стримы игроков
.content--grid
  - @streams.each do |stream|
    %a.grid--item.streams-grid--item{:href => stream.link, :target => "_blank"}
      %span.streams--image-box
        %img.streams--image{:alt => "/", :src => "#{root_url}/image/example/group/00.svg"}/
        %svg.streams--image-icon
          %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#play"}
      %span.streams--desc
        %span.streams--name
          = stream.link.split('/').last
        %span.streams--text archived content brought to you by partypoker247!
        %svg.streams--icon
          %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#twitch.logo"}
