%aside.aside--cover
  .menu--list-cover
    .menu--list
      %a.menu--item{href: tournaments_path, class: ('active-node' if tournaments_path?)} Турниры
      %a.menu--item{href: articles_path, class: ('active-node' if articles_path?)} Новости
      %a.menu--item{href: streams_path, class: ('active-node' if streams_path?)} Стримы игроков
      %a.menu--item{href: '/forum', class: ('active-node' if forum_path?)} Форум
      %a.menu--item{href: contacts_path, class: ('active-node' if contacts_path?)} Контакты