%footer.footer--cover
  .footer--container.container
    .footer--logo-box
      %a.footer--logo-cover{:href => "index.html"}
        %img.footer--logo-icon{:alt => "/", :src => "#{root_url}/image/icons/logo/small.svg"}/
      %p.footer--logo-copy Copyright © GShow 2020
    .social--cover
      %a.social--item{:href => "tg://resolve?domain=swan4", :target => "_blank"}
        %svg.social--icon
          %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#telegram"}
      %a.social--item{:href => "https://www.twitch.tv/swan4", :target => "_blank"}
        %svg.social--icon
          %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#twitch"}
      %a.social--item{:href => "https://www.instagram.com/swan4poker/", :target => "_blank"}
        %svg.social--icon
          %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#insta"}
      %a.social--item{:href => "https://www.youtube.com/channel/UC2h3-ZCKW8rEVBcDaBua7KA", :target => "_blank"}
        %svg.social--icon
          %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#youtube"}
%div{"data-webcore--modal-id" => "entry"}
  %p.modal--caption Вход
  %form.modal-form--cover#loginForm{action: user_session_path, method: 'post', 'data-remote': 'true'}
    %input{:name => "hidden", :type => "hidden", :value => "вход"}/
    %input.modal-form--input{:name => "user[email]", :placeholder => "E-mail", :type => "text"}/
    %input.modal-form--input{:name => "user[password]", :placeholder => "Пароль", :type => "password"}/
    .modal-form--box
      %label.modal-form--label
        %input.modal-form--checkbox{:name => "user[remember_me]", :checked => "checked", :type => "checkbox"}/
        %span.modal-form--checkbox-text Запомнить меня
      %button.modal-form--restore{:type => "button"} Забыли пароль?
    %button.modal-form--submit{"data-button" => "red", :type => "submit"} Войти в аккаунт
    %p.modal-form--question
      Еще нет аккаунта?
      %span.modal-form--question-inner.modal-call--reg-user-hide Регистрация
%div{"data-webcore--modal-id" => "reg-user"}
  %p.modal--caption Регистрация
  %form.modal-form--cover#regForm{action: user_registration_path, method: 'post', 'data-remote': 'true'}
    %input{:name => "hidden", :type => "hidden", :value => "регистрация"}/
    %input.modal-form--input{:name => "user[nickname]", :placeholder => "Никнейм", :type => "text"}/
    %input.modal-form--input{:name => "user[email]", :placeholder => "E-mail", :type => "text"}/
    %input.modal-form--input{:name => "user[password]", :placeholder => "Пароль", :type => "password"}/
    %input.modal-form--input{:name => "user[password_confirmation]", :placeholder => "Повторите пароль", :type => "password"}/
    %p.modal-form--agreement
      Нажимая кнопку "Зарегистрироваться" я подверждаю, что ознакомлен и согласен с
      %span.modal-form--agreement-open.modal-call--agreement Политикой конфиденциальности
    %button.modal-form--submit{"data-button" => "red", :type => "submit"} Зарегистрироваться
    %p.modal-form--question
      Уже есть аккаунт?
      %span.modal-form--question-inner.modal-call--entry-hide Выполните вход
%div{"data-webcore--modal-id" => "reg-tourn"}
  - current_tournament = @tournament if defined? @tournament
  - current_tournament = current_tournament || tournament if defined? tournament
  - current_tournament = current_tournament || Tournament.last
  %p.modal--caption Регистрация на турнир
  %p.modal--text
    Вы регистрируетесь на турнир
    %strong.modal--tourn-name 
      = "PokerOK #{current_tournament.name}"
  %form.modal-form--cover{:action => "/"}
    %input{:name => "hidden", :type => "hidden", :value => "регистрация на турнир"}/
    = link_to 'Подтвердить', tournament_register_player_path(tournament_id: current_tournament.id), class: 'modal-form--submit', method: :put, 'data-button': 'red'
    %button.modal-form--cancel.modal-form--question-inner{:type => "button"} Отмена
%div{"data-webcore--modal-id" => "restore"}
  %p.modal--caption Восстановление пароля
  %p.modal--text Введите e-mail
  %form.modal-form--cover{:action => "/"}
    %input.modal-form--input{:name => "email", :placeholder => "E-mail", :type => "text"}/
    %input{:name => "hidden", :type => "hidden", :value => "Восстановление пароля"}/
    %button.modal-form--submit{"data-button" => "red", :type => "submit"} Подтвердить
    %button.modal-form--cancel.modal-form--question-inner{:type => "button"} Отмена

:javascript
  $(document).ready(function() {
    $('#loginForm')
    .bind('ajax:success', function(evt, data, status, xhr) {
      location.reload();
    })
    .bind("ajax:error", function(evt, xhr, status, error) {
      console.log('Invalid email or password');
    });
    $('#regForm')
    .bind('ajax:success', function(evt, data, status, xhr) {
      location.reload();
    })
    .bind("ajax:error", function(evt, xhr, status, error) {
      console.log('Error while registration');
    });
  });
