%header.header--cover
  .header--sticky
    .container.header--container
      %a.header--logo-cover{href: root_path}
        %img.header--logo-icon{:alt => "/", :src => "#{root_url}/image/icons/logo/small.svg"}/
      .autoriz--box-cover
        - if current_user
          .autoriz--cover
            %a.autoriz--item.autoriz--home{:href => dashboard_tournaments_path}
              %svg.autoriz--icon>
                %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#champion"}
              Игровой кабинет
            %a.autoriz--item.autoriz--message{:href => 'forum/private-topics'}
              %svg.autoriz--icon
                %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#comment"}
              // %span.autoriz--message-count 5
            .autoriz--item.autoriz-user--cover
              %a.autoriz-user--home{:href => profile_path(current_user.nickname)}
                %svg.autoriz--icon>
                  %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#name"}
                = current_user.nickname
              %button.autoriz-user--switch
                %svg.autoriz-user--switch-icon
                  %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#arrow.v1.down"}
              .autoriz-user--select
                = link_to 'Настройки', edit_user_registration_path, class: 'autoriz-user--option'
                = link_to 'Профиль', profile_path(current_user.nickname), class: 'autoriz-user--option'
                = link_to 'Выйти', destroy_user_session_path, class: 'autoriz-user--option', "data-method": :delete
        - else
          .autoriz-not--cover
            %button.autoriz-not--item.modal-call--entry
              Войти
              %svg.autoriz-not--icon
                %use{"xlink:href" => "#{root_url}/image/icons/sprite.svg#login"}
            %button.autoriz-not--item.modal-call--reg-user Регистрация