%tr.info
  %td.text-center
    = article.title
  %td.text-center
    = image_tag article.card_image.url, width: '200px', height: '150px'
  %td.text-center
    = link_to 'Edit', edit_editor_article_path(article), class: 'btn-warning'
  %td.text-center
    = link_to 'Delete', editor_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger'
