- url = editor_articles_path
- url = editor_article_path(@article) if controller.action_name == 'edit'
= simple_form_for @article, url: url do |f|
  = f.label :title
  %br
  = f.input :title, label: false, input_html: { class: 'article_title' }
  %br
  = f.input :card_image
  %br
  = f.input :body, as: :text, label: false, input_html: { class: 'tinymce', rows: 40, cols: 120 }
  = tinymce
  %br
  = f.button :submit, class: 'btn-success'
