.user-path--cover
  %a.user-path--item{:href => editor_articles_path} Новости

= link_to 'Создать', new_editor_article_path, class: 'btn-success'

%table.table.table-bordered.table-hover
  %tr.active
    %th
      %h4.text-center Title
    %th
      %h4.text-center Image
    %th{colspan: 2}
      %h4.text-center Actions
  = render @articles
