
%h1.page-title Контакты
.contacts--cover
  %a.contacts--item{:href => "mailto:lebedevmaxim11@gmail.com"}
    %svg.contacts--icon>
      %use{"xlink:href" => "image/icons/sprite.svg#email"}
    lebedevmaxim11@gmail.com
  %a.contacts--item{:href => "https://www.instagram.com/swan4poker/", :target => "_blank"}
    %svg.contacts--icon>
      %use{"xlink:href" => "image/icons/sprite.svg#insta"}
    @swan4poker
  %a.contacts--item{:href => "tg://resolve?domain=swan4", :target => "_blank"}
    %svg.contacts--icon>
      %use{"xlink:href" => "image/icons/sprite.svg#telegram"}
    swan4
  %a.contacts--item{:href => "https://www.youtube.com/channel/UC2h3-ZCKW8rEVBcDaBua7KA", :target => "_blank"}
    %svg.contacts--icon>
      %use{"xlink:href" => "image/icons/sprite.svg#youtube"}
    Канал на Youtube
  %a.contacts--item{:href => "https://www.twitch.tv/swan4", :target => "_blank"}
    %svg.contacts--icon>
      %use{"xlink:href" => "image/icons/sprite.svg#twitch"}
    twitch.tv/swan4
  %a.contacts--item{:href => "https://vk.com/swan4444", :target => "_blank"}
    %svg.contacts--icon>
      %use{"xlink:href" => "image/icons/sprite.svg#vk"}
    Swan4 Poker