.content-main--cover
  .started--infobox-cover
    = image_tag 'image/example/group/04.svg', class: 'started--infobox-image'
    .started-infobox--centered
      %p.started-infobox--title PokerOK
      %p.started-infobox--subtitle
        = @tournament.name
      %button.started-infobox--button.modal-call--reg-tourn{"data-button" => "red"} Регистрация
      %a.started-infobox--more{:href => tournament_path(@tournament)} Информация о турнире
.content-aside--cover
  .slider--cover
    .slider--caption-box
      %p.slider--caption
        Стримы онлайн
        %svg.slider--caption-icon
          %use{"xlink:href" => "image/icons/sprite.svg#stream"}
    .slider--item-cover
      .slider--item-container.swiper-slider--00
        .slider--item-track.swiper-wrapper
          - @streams.each do |stream|
            %a.slider--item-slide.swiper-slide{:href => stream.link, :target => '_blank'}
              %span.slider--item-img-box
                %img.slider--item-img{:alt => "/", :src => "image/example/00.jpg"}/
                %svg.slider--item-icon
                  %use{"xlink:href" => "image/icons/sprite.svg#play"}
              %span.slider--item-title
                = stream.link.split('/').last
              %span.slider--item-subtitle archived content brought to you by partypoker247!
      .slider--item-navigation-box.slider--item-navigation-box-00
        %svg.slider--item-navigation-item.slider--item-navigation-item-prev.swiper-slider--00-prev
          %use{"xlink:href" => "image/icons/sprite.svg#arrow.v1.left"}
        %svg.slider--item-navigation-item.slider--item-navigation-item-next.swiper-slider--00-next
          %use{"xlink:href" => "image/icons/sprite.svg#arrow.v1.right"}
  -# .slider--cover
  -#   .slider--caption-box
  -#     %p.slider--caption
  -#       Победители
  -#       %svg.slider--caption-icon
  -#         %use{"xlink:href" => "image/icons/sprite.svg#winner"}
  -#   .slider--item-cover
  -#     .slider--item-container.swiper-slider--01
  -#       .slider--item-track.swiper-wrapper
  -#         .slider--item-slide.swiper-slide
  -#           %a.slider--item-caption{:href => "#"} Gashow Cup Satellite #1
  -#           .slider--item-list
  -#             %p.slider--item-list-item
  -#               %strong 1.
  -#               swan4
  -#             %p.slider--item-list-item
  -#               %strong 2.
  -#               freedombot
  -#             %p.slider--item-list-item
  -#               %strong 3.
  -#               NERA75
  -#         .slider--item-slide.swiper-slide
  -#           %a.slider--item-caption{:href => "#"} Gashow Cup Satellite #2
  -#           .slider--item-list
  -#             %p.slider--item-list-item
  -#               %strong 1.
  -#               swan4
  -#             %p.slider--item-list-item
  -#               %strong 2.
  -#               freedombot
  -#             %p.slider--item-list-item
  -#               %strong 3.
  -#               NERA75
  -#     .slider--item-navigation-box.slider--item-navigation-box-01
  -#       %svg.slider--item-navigation-item.slider--item-navigation-item-prev.swiper-slider--01-prev
  -#         %use{"xlink:href" => "image/icons/sprite.svg#arrow.v1.left"}
  -#       %svg.slider--item-navigation-item.slider--item-navigation-item-next.swiper-slider--01-next
  -#         %use{"xlink:href" => "image/icons/sprite.svg#arrow.v1.right"}
.newsbox--cover
  %p.newsbox--title Новости
  .newsbox--list
    - @articles.each do |article|
      .newsbox--item
        %a.newsbox--image-box{:href => article_path(article)}
          %img.newsbox--image{:alt => "/", :src => article.card_image}/
        .newsbox--box
          %p.newsbox--date
            = I18n.l(article.created_at.in_time_zone('Moscow'), format: :short)
          %a.newsbox--caption{:href => article_path(article)} 
            = article.title
          %p.newsbox--desc
            = strip_tags(article.body).first(191) + '...'
          %a.newsbox--more{:href => article_path(article)} Читать
  %a.newsbox--more-all{:href => articles_path}
    Перейти в раздел
    %svg.newsbox--more-all-icon
      %use{"xlink:href" => "image/icons/sprite.svg#arrow.v2.right"}