.user-path--cover
  %a.user-path--item{:href => editor_tournaments_path} Правила турниров
  %a.user-path--item{:href => ""}
    = @tournament.name
%br
%br
.center
  = form_for @tournament, url: editor_tournament_path(@tournament) do |f|
    = f.text_area :rules, class: 'tinymce', id: 'unique', rows: 40, cols: 120
    = tinymce
    %br
    = f.button 'Save', class: 'btn-success'
