.user-path--cover
  %a.user-path--item{:href => editor_tournaments_path} Правила турниров

%table.table.table-bordered.table-hover
  %tr.active
    %th
      %h4.text-center Name
    %th
      %h4.text-center Actions
  = render @tournaments
