!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GAshow
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    %link{:href => "#{root_url}/css/all.css", :rel => "stylesheet"}/
    %script{src: "#{root_url}/js/Swiper.slider.4.5.0.min.js"}
    %script{src: "#{root_url}/js/webcore.full.1.0.0.min.js"}
    %script{src: "#{root_url}/js/webcore.frontend.js"}
    = javascript_include_tag 'application'
  %body
    = render 'shared/navbar'
    .content--cover.container
      = render 'shared/aside'
      .content
        = render 'shared/flash_messages'
        = yield
    = render 'shared/footer'
